@font-face {
    font-family: 'pop';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pop';
    font-size: 125%;
    color: white;
}

body {
    background-color: #000;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: linear-gradient(to top, rgb(57, 2, 47), rgb(18, 0, 48));
    box-shadow: 0 0 5rem rgb(235, 3, 200);
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-shadow: 0 0 1rem #000;
}

section {
    display: flex;
    gap: 1rem;
}

.boxes {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
}

button {
    border-radius: 1rem;
    padding: .3rem .8rem;
    font-size: 1rem;
    background-color: #240303;
    border: none;
    outline: 1px solid rgb(252, 3, 161);
}

h2 {
    font-size: 1rem;
}

